.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
myshinyapp.Rcheck/
myshinyapp*.tar.gz
myshinyapp*.tgz
centraldogma.Rcheck/
centraldogma*.tar.gz
centraldogma*.tgz
centraldogmaapp.Rcheck/
centraldogmaapp*.tar.gz
centraldogmaapp*.tgz
