.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
myshinyapp.Rcheck/
myshinyapp*.tar.gz
myshinyapp*.tgz
group10app.Rcheck/
group10app*.tar.gz
group10app*.tgz
centraldogma.Rcheck/
centraldogma*.tar.gz
centraldogma*.tgz
